#main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgrey;
}

#spinner {
	width: 24px;
	height: 24px;
	background-color: grey;
	background-image: url(spinner.png);
	background-position: 0 0;
}