#main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgrey;
}

#spinner {
	width: 128px;
	height: 128px;
	background-color: rgb(42,143,189);
	background-image: url(spinner.png);
	background-position: 0 0;
	border: 10px solid rgb(42,143,189);
}

#controls {
	margin-top: 50px;
}