#main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgrey;
}

#spinner {
	width: 160px;
	height: 120px;
	background-color: black;
	background-image: url(countdown.jpg);
	background-position: 0 0;
	border: 10px solid black;
}

#controls {
	margin-top: 50px;
}